In [1]:

import pandas as pd

raw = """customer_id,data_used_gb,calls_made,revenue_inr,region,date
1001,5.2,25,180,Delhi,2025/09/25
1002,,40,280,Mumbai,2025-09-25
1003,7.8,32,210,chennai,25-09-2025
1004,15.6,55,,DELHI,2025-09-25
1005,3.4,18,120,Kolkata,2025-09-25
1005,3.4,18,120,Kolkata,2025-09-25
1006,8.7,52,150,Jabalpur,2025-09-25
1007,5.8,22,135,Bhopal,2025-09-25
1008,6.5,40,180,Gwailor,2025-09-25
1009,11.7,100,350,Indore,2025-09-25
1010,2.5,23,105,Chandigarh,2025-09-25
1011,9.5,50,190,Ambala,2025-09-25
1012,12.1,80,270,Bangalore,2025-09-25
1013,,37,205,Gurgaon,2025-09-25
1014,4.8,43,132,Hyderbad,2025-09-25
"""

open("telecom_usage.csv","w").write(raw)
pd.read_csv("telecom_usage.csv").head()

   customer_id  data_used_gb  calls_made  revenue_inr   region        date
0         1001           5.2          25        180.0    Delhi  2025/09/25
1         1002           NaN          40        280.0   Mumbai  2025-09-25
2         1003           7.8          32        210.0  chennai  25-09-2025
3         1004          15.6          55          NaN    DELHI  2025-09-25
4         1005           3.4          18        120.0  Kolkata  2025-09-25

In [3]:

df = pd.read_csv("telecom_usage.csv")
print("Original shape:", df.shape)   # (rows, columns)
df.head()

Original shape: (15, 6)

   customer_id  data_used_gb  calls_made  revenue_inr   region        date
0         1001           5.2          25        180.0    Delhi  2025/09/25
1         1002           NaN          40        280.0   Mumbai  2025-09-25
2         1003           7.8          32        210.0  chennai  25-09-2025
3         1004          15.6          55          NaN    DELHI  2025-09-25
4         1005           3.4          18        120.0  Kolkata  2025-09-25

In [5]:
before = len(df) #len(df) gives the number of rows in your DataFrame df
df = df.dropna()                      # removes rows with any blank
after = len(df)
print(f"Removed {before - after} rows with missing values.")
# df = df.dropna(subset=["data_used_in_GB","date"])

Removed 3 rows with missing values.

In [6]:
df.to_csv("missing_telecom_usage.csv", index=False)
print("Saved missing_telecom_usage.csv with", len(df), "rows.")

Saved missing_telecom_usage.csv with 12 rows.

In [7]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")  # coerce turns bad dates into NaT
bad_dates = df["date"].isna().sum()
print("Unparseable date rows:", bad_dates)
df = df.dropna(subset=["date"])  # simplest for class

Unparseable date rows: 11

In [8]:
before = len(df)

# Keep the first occurrence of each duplicate and drop the rest
df = df.drop_duplicates(keep='first')

after = len(df)
print(f"Removed {before - after} duplicate rows (kept the first occurrence of each).")

Removed 0 duplicate rows (kept the first occurrence of each).

In [12]:
df.to_csv("cleaned_telecom_usage.csv", index=False)
print("Saved cleaned_telecom_usage.csv with", len(df), "rows.")

Saved cleaned_telecom_usage.csv with 1 rows.

In [13]:
import pandas as pd
pd.set_option('display.max_rows', None)  # show all rows in output
cleaned_df = pd.read_csv("cleaned_telecom_usage.csv")
display(cleaned_df)

   customer_id  data_used_gb  calls_made  revenue_inr region        date
0         1001           5.2          25        180.0  Delhi  2025-09-25

In [43]:
import pandas as pd
complaints = pd.DataFrame([
  {"complaint_id":"CMP-001","customer_id":1002,"category":"Billing","description":"Charged extra for data usage","created_at":"2025/09/25 10:45","status":"Open"},
  {"complaint_id":"CMP-002","customer_id":1004,"category":"Network","description":"Frequent call drops in Delhi","created_at":"2025-09-25 09:30","status":"Open"},
  {"complaint_id":"CMP-003","customer_id":1005,"category":"Recharge","description":"Recharge failed; amount deducted","created_at":"25-09-2025 14:00","status":"Closed"},
  {"complaint_id":"CMP-004","customer_id":1002,"category":"Network","description":"Slow 4G speed at night","created_at":"2025-09-26 20:40","status":"Open"},
  {"complaint_id":"CMP-005","customer_id":1003,"category":"Support","description":"No response to complaint","created_at":"2025-09-26 11:10","status":"Open"}
])
complaints.to_csv("complaints.csv", index=False)
print("✅ complaints.csv saved.")

✅ complaints.csv saved.

In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [32]:
user = 'root'
password = '@pkv2005'
host = 'localhost'
port = 3306 
database = 'test_db'
# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
# Check connection
print("✅ Connected to MySQL successfully!")

✅ Connected to MySQL successfully!

In [12]:
!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/7c/4c/ad33b92b9864cbde84f259d5df035a6447f91891f5be77788e2a3892bce3/pymysql-1.1.2-py3-none-any.whl.metadata
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [34]:
import pymysql

try:
    conn = pymysql.connect(
        host="localhost",
        user="root",
        password="@pkv2005",
        database="test_db",
        port=3306
    )
    print("✅ Connection successful!")
    conn.close()
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connection successful!

In [37]:
from urllib.parse import quote_plus

user = 'root'
password = quote_plus('@pkv2005')   # encodes special characters
host = '127.0.0.1'
port = 3306
database = 'test_db'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [38]:
import pandas as pd

customers = pd.read_sql("SELECT * FROM customers", engine)
print("Rows extracted:", len(customers))
display(customers.head())

Rows extracted: 5

   customer_id         name plan_type   join_date   region
0         1001   Asha Mehta   Prepaid  2023-05-12    Delhi
1         1002   Ravi Kumar  Postpaid  2022-12-20   Mumbai
2         1003    Sneha Rao   Prepaid  2023-01-18  Chennai
3         1004  Manoj Singh  Postpaid  2021-11-05    Delhi
4         1005   Divya Jain   Prepaid  2023-03-28  Kolkata

In [39]:
# Extract customers from MySQL
customers = pd.read_sql("SELECT * FROM customers", engine)
# Extract complaints from CSV
complaints = pd.read_csv("complaints.csv")
print("Rows extracted -> Customers:", len(customers), "Complaints:", len(complaints))
display(customers.head(), complaints.head())

Rows extracted -> Customers: 5 Complaints: 5

   customer_id         name plan_type   join_date   region
0         1001   Asha Mehta   Prepaid  2023-05-12    Delhi
1         1002   Ravi Kumar  Postpaid  2022-12-20   Mumbai
2         1003    Sneha Rao   Prepaid  2023-01-18  Chennai
3         1004  Manoj Singh  Postpaid  2021-11-05    Delhi
4         1005   Divya Jain   Prepaid  2023-03-28  Kolkata

,complaint_id,customer_id,category,description,created_at,status
0,CMP-001,1002,Billing,Charged extra for data usage,25-09-2025 10:45,Open
1,CMP-002,1004,Network,Frequent call drops in Delhi,25-09-2025 09:30,Open
2,CMP-003,1005,Recharge,Recharge failed; amount deducted,25-09-2025 14:00,Closed
3,CMP-004,1002,Network,Slow 4G speed at night,26-09-2025 20:40,Open
4,CMP-005,1003,Support,No response to complaint,26-09-2025 11:10,Open

In [46]:
# --- Standardize text ---
customers['region']  = customers['region'].str.title().str.strip()
complaints['status'] = complaints['status'].str.title().str.strip()
complaints['category'] = complaints['category'].str.title().str.strip()

# --- Parse and standardize dates ---
customers['join_date']  = pd.to_datetime(customers['join_date'],  errors='coerce')
complaints['created_at'] = pd.to_datetime(complaints['created_at'], errors='coerce')

# Fill unparseable or missing dates
default_dt = pd.Timestamp('2025-09-25 00:00')
customers['join_date']  = customers['join_date'].fillna(default_dt)
complaints['created_at'] = complaints['created_at'].fillna(default_dt)

# --- Fix missing IDs or text ---
complaints['customer_id'] = complaints['customer_id'].fillna(-1).astype(int)
complaints['description'] = complaints['description'].fillna("No description provided")

# --- Merge ---
merged = customers.merge(complaints, on='customer_id', how='left')

# --- Post-merge fixes ---
merged['complaint_id'] = merged['complaint_id'].fillna("NO-COMPLAINT")
merged['category']     = merged['category'].fillna("No Complaint")
merged['status']       = merged['status'].fillna("Resolved")
merged['created_at']   = merged['created_at'].fillna(default_dt)

# Derived flag
merged['is_open'] = (merged['status'] == 'Open')
print("✅ Data transformed successfully!")
merged.head()

✅ Data transformed successfully!

,customer_id,name,plan_type,join_date,region,complaint_id,category,description,created_at,status,is_open
0,1001,Asha Mehta,Prepaid,2023-05-12,Delhi,NO-COMPLAINT,No Complaint,NaN,2025-09-25 00:00:00,Resolved,False
1,1002,Ravi Kumar,Postpaid,2022-12-20,Mumbai,CMP-001,Billing,Charged extra for data usage,2025-09-25 10:45:00,Open,True
2,1002,Ravi Kumar,Postpaid,2022-12-20,Mumbai,CMP-004,Network,Slow 4G speed at night,2025-09-25 00:00:00,Open,True
3,1003,Sneha Rao,Prepaid,2023-01-18,Chennai,CMP-005,Support,No response to complaint,2025-09-25 00:00:00,Open,True
4,1004,Manoj Singh,Postpaid,2021-11-05,Delhi,CMP-002,Network,Frequent call drops in Delhi,2025-09-25 00:00:00,Open,True

In [47]:
merged.to_csv("etl_output.csv", index=False)
print(f"✅ ETL pipeline complete! Created {len(merged)} records and saved etl_output.csv.")

✅ ETL pipeline complete! Created 6 records and saved etl_output.csv.

In [48]:
print("\nComplaints per customer:")
print(merged.groupby(['customer_id','name']).complaint_id.count().reset_index(name='complaint_count'))

print("\nOpen vs Closed:")
print(merged['status'].value_counts())

print("\nComplaints by region & category:")
print(merged.groupby(['region','category']).complaint_id.count().reset_index(name='count'))

Complaints per customer:
   customer_id         name  complaint_count
0         1001   Asha Mehta                1
1         1002   Ravi Kumar                2
2         1003    Sneha Rao                1
3         1004  Manoj Singh                1
4         1005   Divya Jain                1

Open vs Closed:
status
Open        4
Resolved    1
Closed      1
Name: count, dtype: int64

Complaints by region & category:
    region      category  count
0  Chennai       Support      1
1    Delhi       Network      1
2    Delhi  No Complaint      1
3  Kolkata      Recharge      1
4   Mumbai       Billing      1
5   Mumbai       Network      1